	<script type="text/javascript"  src="https://cdn.smmpanelbdlab.com/work/new-24-rentalpanel/Best-of-Panel/js/jquery.min.js" >
							</script>
					<script type="text/javascript"  src="https://cdn.smmpanelbdlab.com/work/new-24-rentalpanel/Best-of-Panel/js/7h21x4werz0q1pt3.js" >
							</script>
					<script type="text/javascript"  src="https://cdn.smmpanelbdlab.com/work/new-24-rentalpanel/Best-of-Panel/js/h7t2naiks20h6fkd.js" >
							</script>
					<script type="text/javascript"  src="https://cdn.smmpanelbdlab.com/work/new-24-rentalpanel/Best-of-Panel/js/pkex2quykrn8pu51.js" >
							</script>
					<script type="text/javascript"  src="https://cdn.smmpanelbdlab.com/work/new-24-rentalpanel/SMMXZ-V2/js/hi98cgaecqe1feua.js" >
							</script>
					<script type="text/javascript"  src="https://cdn.smmpanelbdlab.com/work/new-24-rentalpanel/SMMXZ-V2/js/9kqdad0glwb7ykdp.js" >
							</script>
					<script type="text/javascript"  src="https://cdn.smmpanelbdlab.com/smmscript/jquerys.min.js" >
							</script>
					<script type="text/javascript"  src="https://cdn.smmpanelbdlab.com/work/new-24-rentalpanel/SMMXZ-V2/js/t05xwla9gwo8usgw.js" >
							</script>

{% if user["auth"] %}
        <script>
            function updateMinMax() {
                let itemContent = document.querySelector('.min-max').innerHTML;
                $('#minMax').html(itemContent);
            }
            function updateService() {
                let itemContentName = $('#orderform-service option:selected').text();
                $('#new_services_name').html(itemContentName);
            }

            $(document).ready(function () {
                $("#orderform-service").change(function () {
                    setTimeout(updateMinMax, 100);
                    setTimeout(updateService, 100);
                });
                updateMinMax();
                updateService();
            });

        </script>
         <script type="text/javascript" src="/public/global/ch3915babussofa4.js">
      </script>
  <script type="text/javascript" src="/public/global/cgtptn05b64bwcs4.js">
      </script>
  <script type="text/javascript" src="/public/global/xcz59lmywkfdgsp4.js">
      </script>
  <script type="text/javascript" src="/public/global/rq6gso8oois098nss.js">
      </script>
  <script type="text/javascript" src="/public/global/wnzsoolloslhfumj.js">
      </script>
      <script type="text/javascript" src="/public/global/qri1ac173hshc2hdjc.js">
</script>

  <script type="text/javascript" >
     window.modules.layouts = {"auth":0};   </script>
  <script type="text/javascript" >
     window.modules.signin = [];   </script>
  <script type="text/javascript" >
      </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.27.6/js/jquery.tablesorter.js"></script>

<script type="text/javascript" >
window.modules.siteOrder = {""}; </script>
<script type="text/javascript" >
window.modules.select = [];   </script>

<script src="public/script.js"></script>


<script type="text/javascript" src="public/global/newyear.js"></script>
<script>
$(document).ready(function(){



$('.tooltip-wrapper').tooltip();

});
    
</script>
{% else %}
<!-- Footer Scripts -->
                   <!-- Jquery -->
          <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
                <!-- Swiper JS -->
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

        
        
  <!-- Point system codes -->
  
                              <script>
                  const swiper = new Swiper(".testimonialSlider", {
                    // Default parameters
                    slidesPerView: 2,
                    spaceBetween: 10,
                    autoplay: {
                      delay: 3000,
                    },
                    // Navigation arrows
                    navigation: {
                      nextEl: ".swiper-next",
                      prevEl: ".swiper-prev",
                    },
                    // Responsive breakpoints
                    breakpoints: {
                      // when window width is >= 320px
                      320: {
                        slidesPerView: 1,
                        spaceBetween: 0,
                      },
                      // when window width is >= 480px
                      480: {
                        slidesPerView: 1,
                        spaceBetween: 0,
                      },
                      // when window width is >= 1200px
                      1200: {
                        slidesPerView: 2,
                        spaceBetween: 40,
                      },
                    },
                  });
                </script>
            
                        
            

    <div class="scroll-to-top scroll-top  animate animate-infinite animate-pulse animate-duration-2">
        <span class="scroll-icon"><i class="fa fa-arrow-up" aria-hidden="true"></i></span>
    </div>   
                       <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-12 col-12">
                    <div class="footer_main_info">
                        <div class="logo-white">
                            <img src="{{ site['logo'] }}" width="170px" class="img-fluid" alt="Meilleur fournisseur de panel de services en Guinee - ToutLike - {{ site['site_name'] }}" />
                        </div>
                        <p>
                            {{ site['site_name'] }} fonde en 2020, est l''une des meilleures plateformes pour obtenir un panel de services en Guinee. Nous proposons des panels abordables pour vous permettre d''obtenir les meilleurs resultats sur les reseaux sociaux pour votre entreprise.
                        </p>
                        <ul class="social_media_links">
                            <li>
                                <a href="https://www.facebook.com/smmpanelbdlab" class="social_link" target="_blank">
                                    <img src="https://cdn.smmpanelbdlab.com/smmscript/smmrx/img/y1cz4pswkrne92m7.png"
                                        class="img-fluid" alt="{{ site['site_name'] }} facebook-smm-panel-icon">
                                </a>
                            </li>
                             <li>
                                <a href="https://www.youtube.com/@smmpanelbdlab" class="social_link">
                                    <img src="https://cdn.smmpanelbdlab.com/smmscript/smmrx/img/3fpow8wsdakfuhxc.png"
                                        class="img-fluid" alt="{{ site['site_name'] }} instagram-smm-panel-icon">
                                </a>
                            </li> 
                            <li>
                                <a href="https://www.youtube.com/@smmpanelbdlab" class="social_link" target="_blank">
                                    <img src="https://cdn.smmpanelbdlab.com/smmscript/smmrx/img/c0h1tdr2up1erx8t.png"
                                        class="img-fluid" alt="{{ site['site_name'] }} twitter-smm-panel-icon">
                                </a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/@smmpanelbdlab" class="social_link" target="_blank">
                                    <img src="https://cdn.smmpanelbdlab.com/smmscript/smmrx/img/cpirbsemrodq8beb.png"
                                        class="img-fluid" alt="{{ site['site_name'] }} youtube-smm-panel-icon">
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/smmpanelbdlab/" class="social_link" target="_blank">
                                    <img src="https://cdn.smmpanelbdlab.com/smmscript/smmrx/img/tq1pj8k9fca9y671.png"
                                        class="img-fluid" alt="{{ site['site_name'] }} linkedin-smm-panel-icon">
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/smmpanelbdlab/" target="_blank" class="social_link">
                                    <img src="https://cdn.smmpanelbdlab.com/smmscript/smmrx/img/bgjw1juutnhqygrl.png" class="img-fluid"
                                        alt="{{ site['site_name'] }} pinterest-icon">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-6">
                    <div class="footer_link_wrap">
                        <h4>Liens rapides</h4>
                        <ul class="footer_menu">
                            <li>
                                <a href="/" class="footer_menu_item">Accueil</a>
                            </li>
                            <li>
                                <a href="/about-us" class="footer_menu_item">A propos</a>
                            </li>
                            <li>
                                <a href="/contact-us" class="footer_menu_item">Contactez-nous</a>
                            </li>
                            <li>
                                <a href="/services" class="footer_menu_item">Services</a>
                            </li>
                            <li>
                                <a href="/blog" class="footer_menu_item">Blog</a>
                            </li>
                            <li>
                                <a href="/terms-of-services" class="footer_menu_item">Conditions d'utilisation</a>
                            </li>
                            <!------- <li>
                                <a href="/privacy-policy" class="footer_menu_item">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="/refund-policy" class="footer_menu_item">Refund Policy</a>
                            </li>  ------>
                        </ul>
                    </div>
                </div>             
                <div class="col-lg-3 col-md-12 col-12"> 
                  
                    <div class="contact_wrap">
                        <div class="contact_item">
                            <div class="contact_icon">
                              <img src="https://cdn.smmpanelbdlab.com/smmscript/smmrx/img/gndglezqa5hzweu4.png" class="img-fluid"
                                    alt="location-smm-panel">
                            </div>
                            <div class="contact_text">
                                Conakry, Guinee
                            </div>
                        </div>
                        <div class="contact_item">
                            <div class="contact_icon">
                                <img src="https://cdn.smmpanelbdlab.com/smmscript/smmrx/img/nrl4o164oyohn7cx.png" class="img-fluid"
                                    alt="{{ site['site_name'] }} sms-notification">
                            </div>
                            <div class="contact_text">
                                E-mail : <br>
                                <a href="mailto:smmpanelbdlab.com">support@smmpanelbdlab.com</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <hr>
            <div class="row">
                <div class="col-12">
                    <br>
                    <p class="copyright_text">&copy; <span id="year"></span>-Tous droits reserves | {{ site['site_name'] }}
                    </p>
                </div>
            </div>
        </div>
    </footer>
		
  
           
   
   <script>
          $(document).ready(function() {
            // Initialize popovers
            var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'));
            var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
              return new bootstrap.Popover(popoverTriggerEl);
            });
        
            // Click event for each button
            $('.copyButton').click(function() {
              var valueToCopy = $(this).data('value');
              copyToClipboardAndShowPopover(valueToCopy, this);
            });
        
            // Function to copy to clipboard and show popover
            function copyToClipboardAndShowPopover(value, buttonElement) {
              var tempTextarea = $('<textarea>');
              $('body').append(tempTextarea);
              tempTextarea.val(value).select();
              try {
                document.execCommand('copy');
                var popover = bootstrap.Popover.getInstance(buttonElement);
                popover.show();
                setTimeout(function() {
                  popover.hide();
                }, 2000);
              } catch (err) {
                console.error('Failed to copy: ', err);
              }
              tempTextarea.remove();
            }
          });
        </script>
        <script type="text/javascript" src="/public/global/rq6gso8oois098nss.js"></script>
       <script>
    function filterBySearch(getTargetItem) {
        const filterServicesInput = document.getElementById('filterServicesInput');
        const nothingFound = document.querySelector('.nothing-found');
        const searchTextWrite = document.getElementById('search-text-write');

        if (!getTargetItem) return; // Avoid errors if input is empty or undefined.

        $('.service_item').each(function () {
            var text = $(this).text().toLowerCase();
            if (text.indexOf(getTargetItem.toLowerCase()) === -1) {
                $(this).addClass('hidden');
            } else {
                $(this).removeClass('hidden');
            }
        });

        const catCards = document.querySelectorAll('.serv_category_card');
        catCards.forEach(card => {
            const items = card.querySelectorAll('.service_item');
            const itemsHidden = card.querySelectorAll('.service_item.hidden');

            if (itemsHidden.length === items.length) {
                card.style.display = 'none';
                card.classList.add('empty');
            } else {
                card.style.display = '';
                card.classList.remove('empty');
            }
        });

        const emptyCards = document.querySelectorAll('.serv_category_card.empty');

        if (nothingFound && searchTextWrite) {
            if (emptyCards.length === catCards.length) {
                nothingFound.style.display = '';
                searchTextWrite.innerHTML = getTargetItem;
            } else {
                nothingFound.style.display = 'none';
                searchTextWrite.innerHTML = '';
            }
        }
    }

    document.getElementById('servicesFilterWraper').addEventListener('click', function (e) {
        const getallActive = document.getElementsByClassName('activeItem');
        for (let item of getallActive) { // Fixed `for (item of getallActive)`
            item.classList.remove('activeItem');
        }
        e.target.classList.add('activeItem');
    });
</script>

   
    <script>
                  const swiper = new Swiper(".testimonialSlider", {
                    // Default parameters
                    slidesPerView: 2,
                    spaceBetween: 10,
                    autoplay: {
                      delay: 3000,
                    },
                    // Navigation arrows
                    navigation: {
                      nextEl: ".swiper-next",
                      prevEl: ".swiper-prev",
                    },
                    // Responsive breakpoints
                    breakpoints: {
                      // when window width is >= 320px
                      320: {
                        slidesPerView: 1,
                        spaceBetween: 0,
                      },
                      // when window width is >= 480px
                      480: {
                        slidesPerView: 1,
                        spaceBetween: 0,
                      },
                      // when window width is >= 1200px
                      1200: {
                        slidesPerView: 2,
                        spaceBetween: 40,
                      },
                    },
                  });
                </script> <!-- Profile Picture -->
    <script>
    const fileInput = document.getElementById('fileInput');
    const profilePictures = document.querySelectorAll('.profilePicture');
    const maxSize = 1024 * 1024; // 1MB

    // Function to handle picture upload
    function uploadPicture() {
        const file = fileInput.files[0];
        const errorMsg = document.getElementById('errormsg');

        if (!file) {
            errorMsg.textContent = 'Veuillez selectionner un fichier !';
            return;
        }

        if (file.size > maxSize) {
            errorMsg.textContent = 'La taille du fichier depasse 1 Mo. Veuillez telecharger un fichier plus petit.';
            return;
        }

        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = function () {
            const img = new Image();
            img.src = reader.result;

            img.onload = function () {
                const canvas = document.createElement('canvas');
                const ctx = canvas.getContext('2d');

                const squareSize = Math.min(img.width, img.height);
                canvas.width = squareSize;
                canvas.height = squareSize;

                const offsetX = (img.width - squareSize) / 2;
                const offsetY = (img.height - squareSize) / 2;

                // Crop the image to a square
                ctx.drawImage(img, offsetX, offsetY, squareSize, squareSize, 0, 0, squareSize, squareSize);
                const croppedDataURL = canvas.toDataURL('image/jpeg');

                // Store the image in local storage
                localStorage.setItem('profilePicture', croppedDataURL);

                // Update the profile picture on the page
                profilePictures.forEach((profilePicture) => {
                    profilePicture.src = croppedDataURL;
                });
            };
        };
    }

    // Check if there's a stored picture in local storage and display it
    const storedPicture = localStorage.getItem('profilePicture');
    if (storedPicture) {
        profilePictures.forEach((profilePicture) => {
            profilePicture.src = storedPicture;
        });
    }

    // Trigger the upload function when the button is clicked
    document.getElementById('uploadButton').addEventListener('click', uploadPicture);
</script><!-- Point system codes -->
   <script>document.getElementById("year").innerHTML = new Date().getFullYear();</script>
              
                <!-- Swiper JS -->
        <script src="https://cdn.smmpanelbdlab.com/smmscript/smmrx/js/zzz38oiiq40rldf1.js"></script>

  <!-- Point system codes -->
  
                              <script>
                  const swiper = new Swiper(".testimonialSlider", {
                    // Default parameters
                    slidesPerView: 2,
                    spaceBetween: 10,
                    autoplay: {
                      delay: 3000,
                    },
                    // Navigation arrows
                    navigation: {
                      nextEl: ".swiper-next",
                      prevEl: ".swiper-prev",
                    },
                    // Responsive breakpoints
                    breakpoints: {
                      // when window width is >= 320px
                      320: {
                        slidesPerView: 1,
                        spaceBetween: 0,
                      },
                      // when window width is >= 480px
                      480: {
                        slidesPerView: 1,
                        spaceBetween: 0,
                      },
                      // when window width is >= 1200px
                      1200: {
                        slidesPerView: 2,
                        spaceBetween: 40,
                      },
                    },
                  });
                </script>
         
<script>
    function getUrlParameter(sParam) {
        var sPageURL = decodeURIComponent(window.location.search.substring(1));
        var sURLVariables = sPageURL.split('&');
        var sParameterName;
        var i;
        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');
            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : sParameterName[1];
            }
        }
    }

    var select_service_id = getUrlParameter("select_service_id");
    if (select_service_id) {
        var selectSerCatID = window.modules.siteOrder.services[select_service_id].cid;
        let orderCat = document.getElementById('orderform-category');
        let orderSer = document.getElementById('orderform-service');

        $(function () {
            orderCat.querySelector('[selected]').removeAttribute('selected');
            console.log(selectSerCatID);
            orderCat.querySelector('[value="'+ selectSerCatID +'"]').setAttribute('selected', 'selected');
            orderCat.value = selectSerCatID;

            var event = document.createEvent('HTMLEvents');
            event.initEvent('change', true, false);
            orderCat.dispatchEvent(event);

            setTimeout(() => {
                let controlSel = orderSer.querySelector('[selected]')
                if (controlSel) {
                    controlSel.removeAttribute('selected');
                }
                console.log(select_service_id);
                orderSer.querySelector('[value="'+ select_service_id +'"]').setAttribute('selected', 'selected');
                orderSer.value = select_service_id;
                orderSer.dispatchEvent(event);

            }, 500);
        });
    }
</script>
    <script>
         $(document).ready(function() {
    $(".scroll-to-top").hide();
    $(window).on("scroll", function() {
        if ($(this).scrollTop() > 200) {
            $(".scroll-to-top").fadeIn(200);
        } else {
            $(".scroll-to-top").fadeOut(200);
        }
    });

    $(".scroll-to-top").on("click", function(event) {
        event.preventDefault();
        $("html, body").animate({scrollTop: 0}, 300, function() {
            $(".scroll-to-top").fadeOut(200);
        });
    });

    var lastTouchEnd = 0;
    document.addEventListener('touchend', function(event) {
        var now = (new Date()).getTime();
        if (now - lastTouchEnd <= 300) {
            event.preventDefault();
        }
        lastTouchEnd = now;
    }, false);

    document.addEventListener('touchmove', function(event) {
        if (event.scale !== 1) {
            event.preventDefault();
        }
    }, false);
});



    </script>
   
   </body>
           
              

      <!-- Footer Scripts -->
                 <script src="https://cdn.smmpanelbdlab.com/smmscript/smmrx/js/i7s0wweb7pqqk4s5.js"></script>
</html>

{% endif %}